<footer class="footer">


    <section class="footer-nav">
        <nav class="store">
            <ul>Tienda</ul>
            <li class="li-store"><a class="footer-link" href="https://adalab.es/"> Productos</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Cajoneras</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Para toda la casa</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Habitaciones</a></li>
        </nav>
        <nav class="us">
            <ul>Nosotros</ul>
            <li><a class="footer-link" href="https://adalab.es/"> Nuestra guía</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Nuestro diseño</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Nuestra historia</a></li>
            <li><a class="footer-link" href="https://adalab.es/"> Ayuda</a></li>
        </nav>
        <nav class="contact">
            <ul>Contacto</ul>
            <li><a class="footer-link" href="https://adalab.es/"> ayuda@openspaces.com</a></li>
            <li><a class="footer-link" href="#"> Socios</a></li>
        </nav>
        <nav class="rrss">
            <i class="fa-brands fa-linkedin" target="_blank"></i>
            <i class="fa-brands fa-instagram" target="_blank"></i>
            <i class="fa-brands fa-twitter" target="_blank"></i>
        </nav>
    </section>
    <div class="arrow"><a class="footer-link" href="#arriba"><i class="fa-solid fa-arrow-up"></i></a></div>




</footer>