<footer class="footer">

    <nav class="store">
        <ul>Tienda</ul>
        <li><a href=""> Productos</a></li>
        <li><a href=""> Cajoneras</a></li>
        <li><a href=""> Para toda la casa</a></li>
        <li><a href=""> Habitaciones</a></li>
    </nav>
    <nav class="us">
        <ul>Nosotros</ul>
        <li><a href=""> Nuestra guía</a></li>
        <li><a href=""> Nuestro diseño</a></li>
        <li><a href=""> Nuestra historia</a></li>
        <li><a href=""> Ayuda</a></li>
    </nav>
    <nav class="contact">
        <ul>Contacto</ul>
        <li><a href=""> ayuda@openspaces.com</a></li>
        <li><a href=""> Socios</a></li>
    </nav>
    <nav class="rrss">
        <i class="fa-brands fa-linkedin" target="_blank"></i>
        <i class="fa-brands fa-instagram" target="_blank"></i>
        <i class="fa-brands fa-twitter" target="_blank"></i>
    </nav>
    <i class="fa-solid fa-arrow-up"></i>




</footer>