<header class="header">
    <div><a name="arriba"></a></div>
    <div class="container-img-header">
    </div>
    <div class="menu-header">
        <i class="fas fa-bars"></i>
    </div>
    <div class="menu">
        <nav>
            <ul class="menu-items">
                <li class="option"><a class="link" href="#">Productos</a></li>
                <li class="option"><a class="link" href="#">colecciones</a></li>
                <li class="option"><a class="link" href="#">Tienda</a></li>
                <li class="option"><a class="link" href="#">Inicio</a></li>
            </ul>
        </nav>
    </div>

    <div class="logo-header">
        <img class="img-logo" src="./assets/images/logo.png" alt="logo">
    </div>

    <h1 class="text-header"> Disfruta creando espacios</h1>
    <button class="button-header">comprar ahora</button>
</header>