<main class="main">
    <section class="first-main">
        <h2 class="h2-main"> Volverse organizado se siente mejor con open spaces</h2>
        <article class="first-art.main">
            <img src="./assets/images/icon_1.png" alt="image-1-main" class="img1">
            <h3>Lo que necesitas</h3>
            <p>Una linea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="">
            <img src="./assets/images/icon_2.png" alt="image-2-main" class="img2">
            <h3>Materias primas sostenibles</h3>
            <p>Una linea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="">
            <img src="./assets/images/icon_3.png" alt="image-3-main" class="img3">
            <h3>Guia</h3>
            <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
    </section>
    <section class="second-main">
        <img src="./assets/images/icon_4.png" alt="image-delivery" class="img4">
        <h2>Envío gratis garantizado</h2>
        <p>Envío gratis en compras desde 100</p>
        <button>Comprar ahora</button>
    </section>
    <section class="third-main">
        <h2>Disfruta creando espacios</h2>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        <a href="https://adalab.es//">
            <input type="button" value="Comprar ahora">
        </a>
        <img src="./assets/images/creando-espacios.jpg" alt="image-bathroom">
    </section>
</main>