<main class="main">
    <section class="first-main">
        <h2 class="h2-main"> Volverse organizado se siente mejor con open spaces</h2>
        <article class="first-art-main">
            <img src="./assets/images/icon_1.png" alt="image-1-main" class="img-main">
            <h3 class="h3-main">Lo que necesitas</h3>
            <p class="p-main">Una linea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="main-materials">
            <img src="./assets/images/icon_2.png" alt="image-2-main" class="img2">
            <h3 class="h3-main-materials">Materias primas sustentables</h3>
            <p class="p-main-materials">Todos los productos con materias primas sustentables</p>
        </article>
        <article class="third-article-main">
            <img src="./assets/images/icon_3.png" alt="image-3-main" class="img3">
            <h3 class="h3-main-suport">Guia</h3>
            <p class="p-main-suport">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
    </section>
    <section class="second-main">
        <div class="img-second-main">
            <img src="./assets/images/icon_4.png" alt="image-delivery" class="img4">
        </div>
        <h2 class="h2-second-main">Envío gratis garantizado</h2>
        <p class="p-second-main">Envío gratis en compras desde 100</p>
        <a class="button-second-main" href="#">Comprar ahora</a>
    </section>
    <div class="desktop">
        <article class="third-main">
            <h2 class="h2-third-main">Disfruta creando espacios</h2>
            <p class="p-third-main">Una línea de productos diseñados para todos tus espacios</p>
            <button class="button-third-main">comprar ahora</button>
        </article>
        <div class="container-img-third-main"><img class="img-third-main" src="./assets/images/creando-espacios.jpg"
                alt="image-bathroom">
        </div>
    </div>

</main>