.header {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-img-header {
    width: 400px;
    height: 400px;
}