.footer {
    width: 100%;
    height: 500px;
    background-color: $color-bg-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-secundary;
    font-family: $font-h2;

}

.store .footer-link {

    color: $color-secundary;
    text-decoration: none;
}

.us .footer-link {

    color: $color-secundary;
    text-decoration: none;
}

.contact .footer-link {
    color: $color-secundary;
    text-decoration: none;
}

.arrow .footer-link {
    color: $color-secundary;
    text-align: center;
    text-decoration: none;

}