.footer {
    width: 100%;
    height: 500px;
    background-color: $color-bg-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-secundary;
    font-family: $font-h2;



}

.footer-nav {
    transform: translateX(20px);
    display: flex;
    flex-direction: column;

    @media all and (min-width: 900px) {
        flex-direction: row;


    }

}

.store {
    padding-top: 20px;
    padding-right: 20px;

}

.store .footer-link {

    color: $color-secundary;
    text-decoration: none;
}

.us {
    padding-top: 20px;

    @media all and (min-width: 900px) {
        padding-right: 40px;
        padding-left: 40px;
    }

}

.us .footer-link {

    color: $color-secundary;
    text-decoration: none;
}

.rrss {
    padding-top: 20px;

}



.contact {
    padding-top: 20px;


}



.contact .footer-link {
    color: $color-secundary;
    text-decoration: none;


}




.arrow .footer-link {
    color: $color-secundary;
    text-decoration: none;

    @media all and (min-width: 900px) {
        position: relative;

    }
}

.arrow {

    position: relative;
    bottom: -60px;
    right: 10px;
    z-index: 999;
    width: 30px;
    height: 40px;
}