.footer {
    width: 100%;
    height: 500px;
    background-color: $color-bg-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-secundary;
    font-family: $font-h2;

}

.footer-nav {
    transform: translateX(20px);
}

.store {
    padding-top: 20px;
}

.store .footer-link {

    color: $color-secundary;
    text-decoration: none;
}

.us {
    padding-top: 20px;

}

.us .footer-link {

    color: $color-secundary;
    text-decoration: none;
}



.contact {
    padding-top: 20px;
}

.contact .footer-link {
    color: $color-secundary;
    text-decoration: none;

}

.rrss {
    padding-top: 20px;
}

.arrow .footer-link {
    color: $color-secundary;
    text-decoration: none;

}

.arrow {
    transform: translateX(150px)
}