.header {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.logo-header {
    position: absolute;
    transform: translateY(-600px);
}

.menu-header {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transform: translateY(-700px);

}

.text-header {
    position: relative;
    top: 0;
    transform: translateY(-300px);
    font-family: $font-main;
    font-weight: bold;
    color: $color;

}

.button-header {
    position: relative;
    top: 0;
    transform: translateY(-50px);
    background-color: $color;
    color: $color-secundary;
}

.button-header:hover {
    background-color: aquamarine;
    color: #0C474B;


}