.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-header {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20px;

}

.img-logo {
    width: 100%;

}

.menu-header {
    top: 30px;
    position: fixed;
    flex-direction: column;
    top: 10px;
    left: 20px;
    z-index: 1;

    @media all and(min-width:900px) {
        top: 20px;
        left: 20px;
    }

    @media all and(min-width:1728px) {
        display: none;

    }
}

.menu-items {
    text-decoration: none;
    color: $color;
    display: none;


    @media all and(min-width:1728px) {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50px;
        left: 150px;

    }
}

.link {
    text-decoration: none;
    color: $color;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $font-bold;


}


.text-header {
    position: relative;
    top: 0;
    transform: translateY(50px);
    text-align: center;
    font-family: $font-main;
    font-weight: bold;
    font-size: 32px;
    color: $color;

    @media all and(min-width:900px) {
        transform: translateX(-200px);
    }

}

.button-header {
    position: relative;
    top: 0;
    transform: translateY(150px);
    background-color: $color;
    color: $color-secundary;
    text-align: center;

    @media all and(min-width:900px) {
        margin-top: 50px;
        transform: translateX(-360px);
    }
}

.button-header:hover {
    background-color: aquamarine;
    color: #0C474B;


}