.main {
    width: 100%;

}

.first-main {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    font-family: $font-h2;
    color: #0C474B;
    background-color: $color-bg-3;
    text-align: center;

    @media all and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

.h2-main {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    grid-column: 1/4;


}

.first-art-main {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}


.h3-main {
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 20px;


}

.p-main {
    padding-top: 40px;
}

.main-materials {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.h3-main-materials {
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
}

.p-main-materials {
    padding-top: 40px;
}

.third-article-main {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.h3-main-suport {
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
}

.p-main-suport {
    padding-top: 40px;
}

.second-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color-bg;
    width: 100%;
    height: 400px;
    color: $color-secundary;
}

.img-second-main {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}


.h2-second-main {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;

}

.p-second-main {
    text-align: center;
    padding-top: 10px;

}

.button-second-main {
    color: $color-secundary;
    text-align: center;
    padding-top: 20px;
}

.third-main {

    background-color: $color-bg-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color;

    @media all and (min-width: 1728px) {
        padding-top: 0;


    }

}

.desktop {
    background-color: $color-bg-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color;

    @media all and (min-width: 1728px) {
        padding-top: 0;
        flex-direction: row;


    }
}


.h2-third-main {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-top: 150px;




}

.p-third-main {
    text-align: center;
    color: $color;
    padding-top: 40px;



}

.button-third-main {
    background-color: $color;
    color: $color-secundary;
    margin-top: 40px;
    margin-bottom: 60px;
}

.button-third-main:hover {
    background-color: aquamarine;
    color: #0C474B;
}

.container-img-third-main {
    width: 100%;
    text-align: center;

    @media all and (min-width: 1728px) {

        display: flex;
        flex-direction: row;
        width: 50%;
        transform: translateX(300px);


    }




}

.img-third-main {
    width: 100%;
    height: 100%;



}